<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.photo_previous', photo_id=photo.id) }}">&larr;Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.photo_next', photo_id=photo.id) }}">Next&rarr;</a>
        </li>
    </ul>
</nav>

<div class="card bg-light sidebar-card mb-3">
    <div class="card-body">
        <div class="row row-cols-auto">
            <div class="col">
                <a href="{{ url_for('user.index', username=photo.auth.name) }}">
                    <img class="round avatar-m" src="{{url_for('main.get_avatar', filename=photo.auth.avatar_s)}}">
                </a>
            </div>
            <div class="col">
                <div class="card-title">
                    <h6>{{ photo.auth.name }}</h6>
                    <p class="card-subtitle text-muted mb-2">{{ photo.auth.username }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div id="description">
            <p>
                {% if photo.description %}
                {{ photo.description }}
                {% else %}
                No description
                {% endif %}
                <a href="#" id="description-btn">
                    <small><span class="iconfont "></span></small>
                </a>
            </p>
        </div>
    </div>
</div>